* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
 background-image: linear-gradient(to right,
  #ffe9b3de,
  #e3c297ce,
  #ecd9a7,
  #f8edcfd8,
  #fbf3dd);
}

.tou {
	position: fixed;
	top: 0;
	left: 0;
	 padding: 1rem 3rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

.logo {
	position: relative;
	color: rgba(20, 19, 19, 0.811);
}

.biao {
	font-size: 1rem;
	font-weight: 800;
	letter-spacing: 1px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.biao li {
	position: relative;
}

.biao a {
	position: relative;
	margin: 0 10px;
	 font-size: 1rem;
	font-family: "微软雅黑";
	font-weight: bold;
	color: rgba(20, 19, 19, 0.811);
	text-decoration: none;
}

.bian {
	padding: 1rem 3rem;
	background-color: rgb(117, 29, 29)
}

.bian .logo,
.tou.bian a {
	color: rgb(252, 247, 247);
}
.bjimg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	z-index: -10;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0
}

.biaoti {
      text-align: center;}

	    table {
	        width: 100%;
	        border-collapse: collapse;
	      }
	      th, td {
	        padding: 8px;
	        text-align: left;
	        border-bottom: 1px solid #ddd;
	      }
	    
	             a {
					 
	                 text-decoration: none;
	             }
				 a:hover {
				 color:#A52A2A;}
	    